@charset "UTF-8";
body, h1, h2, h3, p, ul, li
{margin:0;padding:0;}
img, hr
{border:none;}

body {
margin: 1em auto;
width: 95%;
background-color:#f0f6fb;
font-size: .95rem;
}
@media screen and (min-width: 1280px) {
	body {
		font-size: 1.2rem;
		max-width: 1024px;
	}
}

p {
margin-bottom: 1.7em;
line-height: 1.7;
}
main p {
margin-bottom: 1em;
}
.indent-minus {
text-indent: -0.5rem;
}

h1 {
}
h2 {
font-weight: normal;
letter-spacing: .2rem;
}
h3 {
margin-top: .7rem;
line-height: 1.0;
}
h3 p {
margin: 0;
line-height: 1.0;
}
h3 a {
text-decoration: none;
border-bottom: 2px solid #7fbbc3;
}
h3 a:hover {
border-color: #f7ca80;
}
h3 a:link, h3 a:visited {
color: #3e3e3e;
}
img {
vertical-align: middle;
}
.svg-mma {
width: 336px;
background-color: #cbe8ef;
}
.svg-plus {
width: 105px;
}
.boku {
margin: 1rem 0;
}
nav {
line-height: 1.7;
}
nav li {
padding-left: 1rem;
/*list-style-type: circle;*/
list-style-type: disc;
list-style-position: inside;
}
.hr-hr {
height: 40px;
max-width: 80%;
margin: 2em auto;
background-image: url(svg/hr.svg);
background-repeat: repeat-x;
background-size: 40px 26px;
}
article {
margin: 1.5em 0 3em 0;
}
.thumbnail img {
border: 3px solid #cbe8ef;
width: 144px;
}
.parenthesis {
margin: 1rem 0;
font-weight: normal;
}
.description {
padding-top: 1rem;
padding-bottom: 1.5rem;
}


/* -- colors --*/

body,
h1 {color:#085474}
h2,
h3 {color:#005f87}

nav a:link, nav a:visited,
/*a:link {color:#0022cc}*/
a:link {color:#3355cc}
/*a:visited {color:#cc5522}*/
a:visited {color:#bb66cc}
.maldense {color:#84bacf}
/*nav li, .description {
background-color:#fffff8;
}*/
