@charset "UTF-8";
body, h1, h2, h3, p, ul, li
{margin:0;padding:0;}
img, hr
{border:none;}

body {
/*margin: .7rem .7rem;*/
margin: 1rem auto;
width: 95%;
background-color:#f0f6fb;
}
p {
margin-bottom: 1.7rem;
line-height: 1.7;
}
.indent-minus {
text-indent: -0.5rem;
}

h2 {
margin: 0 0 2rem 0;
font-weight: normal;
letter-spacing: .2rem;
}
h3 {
margin-top: .7rem;
line-height: 1.0;
}
h3 a {
text-decoration: none;
border-bottom: 2px solid #7fbbc3;
}
h3 a:hover {
border-color: #f7ca80;
}
h3 a:link, h3 a:visited {
color: #3e3e3e;
}
img {
vertical-align: middle;
}
/*.svg-mma {
width: 224px;
height: 70px;
background-color: #cbe8ef;
}
.svg-plus {
width: 70px;
height: 70px;
}*/
.svg-mma {
width: 336px;
background-color: #cbe8ef;
}
.svg-plus {
width: 105px;
}
.boku {
margin: 1rem 0;
}
nav {
line-height: 1.7;
}
nav li {
padding-left: 1rem;
list-style-type: circle;
list-style-position: inside;
}
.pict1rem {
width: 1rem;
height: 1rem;
}
.hr-hr {
/*height: 13px;*/
height: 1rem;
/*max-width: 360px;*/
max-width: 80%;
margin: 2rem auto;
background-image: url(svg/hr.svg);
background-repeat: repeat-x;
}
article {
margin: 1.5rem 0;
}
.thumbnail img {
border: 3px solid #cbe8ef;
}
.parenthesis {
/*margin: .5rem 0 1rem 0;*/
margin: 1rem 0;
font-weight: normal;
font-size: 1rem;
}
.description {
padding-top: 1rem;
padding-bottom: 1.5rem;
}


/* -- colors --*/

body,
h1 {color:#085474}
h2,
h3 {color:#005f87}

nav a:link, nav a:visited,
a:link {color:#0022cc}
a:visited {color:#cc5522}
.maldense {color:#84bacf}
/*nav li, .description {
background-color:#fffff8;
}*/
