@charset "UTF-8";
body {
margin: 0 auto;
padding: 2.5rem;
max-width: 1024px;
}
.svg-mma {
width: 448px;
height: 140px;
}
.svg-plus {
width: 140px;
height: 140px;
}
nav {
text-align: center;
}
nav li {
display: inline-block;
margin-right: 1rem;
	padding: .2rem;
list-style-type: none;
}
h1 {
font-size: 2.5rem;
}
h2 {
font-size: 1.2rem;
}
h3 {
margin-top: 0;
font-weight: normal;
/*font-size: 1.5rem;*/
font-size: 1.3rem;
}
.boku {
font-size: 1rem;
}
.parenthesis {
font-size: .9rem;
}
.koverto{max-width:1rem;max-height:1rem}
.hr-hr {
height: 13px;
max-width: 60%;
background-size: 20px 13px;
}
.flexbox {
display: flex;
align-self: flex-start;
}
.thumbnail {
margin-bottom: 1rem;
flex-basis: 180px;
text-align: center;
}
.description {
flex: 1;
padding: 0rem 1rem;
}
