@charset "UTF-8";
/* {{{ ウェブフォント */
@font-face {
  font-family: 'Traveling Typewriter';
  src: url('files/TravelingTypewriter.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
/* }}} */

/* レイアウト確認用ボーダー */
/*{{{*/
/*通常はコメントアウトする*/
/*header {
  border: thin solid green;
}
.index-main {
  border: thin solid red;
}
main {
  border: thin solid blue;
}*/
/*}}}*/

/* Flexbox */
/*{{{*/
.index-main {
  display: flex;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  max-width: 980px;
  margin: auto;
  width: 100%;
}
body#index main {
  flex: 1;
  order: -1;
  margin: 0 auto;
}
footer {
  flex: 1;
}
section {
  flex: 1;
}
.update {
  flex-basis: 300px;
}
/*}}}*/

/* 最大幅980pxで幅を100%伸張する
 t.e. max-width:980px; width:100% */
/*{{{*/
.index-main, header {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
}
/*}}}*/

html {
  overflow-y: scroll;
}
body {
  margin: 0 auto;
/*  padding: 0 2em;*/
  color: #3b221a;
  background-color: #fffaf0;
  background-image: url(files/verticalline1.png);
  background-position: left top;
  background-repeat: repeat-y;
  line-height: 1.5;
  font-family: 'Hiragino Kaku Gothic ProN','Shin Go Medium','IPAexGothic',sans-serif;
}

/* {{{ SECTION */
section {
  display: flex;
  flex: 1;
  margin: 0.5em 0 2em 0;
}
/* }}} */
/* {{{ Class: .thumbnail < SECTION */
.thumbnail { /* class of SECTION */
margin: 1em 0;
display: block;
} .thumbnail img {
height: 120px;
margin-right: 3px;
border-radius: 3px;
}
/* }}} */
/* {{{ UL */
ul li {
font-size: 100%;
}
/* }}} */
/* {{{ H1, H2, A, IMG */
h1 {
margin:0;padding:0;
}
.blogtitle {
font-family: 'Traveling Typewriter', sans-serif;
color: #ffa400;
margin-left: 0.5em;
} .blogtitle span {
color: #ff8400;
} h1 img {
border: none;
} h1 a:hover {
text-decoration: none;
}

h2 {
font-size: 120%;
margin-top: 0;
font-weight: 700;
color: blue;
	transform: rotate(0.03deg);
	-moz-transform: rotate(0.03deg);
	-ms-transform: rotate(0.03deg);
	-o-transform: rotate(0.03deg);
	-webkit-transform: rotate(0.03deg);
}

a {
} a:link {
text-decoration: none;
color: #ea7400;
} a:visited {
text-decoration: none;
color: #60aa00;
} a:hover {
text-decoration: underline;
}
/*a[href^="http"] {
margin: 0 0.2em;
}*/

img { border: 0; }
/* }}} */
/* {{{ BLOCKQUOTE */
blockquote {
position: relative;
margin: .5rem .5rem .5rem 1.5rem;
padding: 1em;
border: 1px dotted #fc0;
border-left: .8rem solid #fc0;
}
blockquote p {
margin: 0;
}
/* }}} */
/* {{{ Class: .subtitle, .logo */
.subtitle {
margin-right: 1.5em;
line-height: 1;
color: #664422;
font-size: 90%;
text-align: right;
}

.logo {
width: 129px;
height: 96px;
vertical-align: middle;
}
/* }}} */
/* {{{ Class: .menu, .ib */
.menu {
  max-width: 95%;
  margin: 0.2em 0 1em 0;
  padding: 1em;
  border-top: 2px solid #fa0;
  border-bottom: 2px solid #fc0;
  line-height: 2;
  color: #664422;
  vertical-align: top;
}
.menu li {
display: inline-block;
margin-right: 1em;
font-weight: bold;
} .menu li a {
color: #ea7400;
text-decoration: none;
} .menu li a:hover {
text-decoration: underline;
} .menu img {
margin-right: 0.2em;
vertical-align: middle;
} .ib {
display: inline-block;
float: left;
padding-right: 1em;
line-height: 0.8;
}
/* }}} */
/* {{{ Class: .year, .bar, .interbar-text, .aboutme */
.year {
margin: 0 0 1rem .2rem;
}
.bar {
max-width: 800px;
margin-bottom: 1.5rem;
background-image: url(files/h-linemod_l.png);
background-repeat: repeat-x;
background-position: center;
text-align: center;
}
.interbar-text {
background-color: #fffaf0;
vertical-align: middle;
padding: 0 6px;
}

/* }}} */
/* {{{ Class: .update */
.update {
  padding-left: 1rem;
  background-color: #fffaf0;
}
.update .bar {
  margin-bottom: 1em;
}
.update .detail {
  margin: 0;
  padding: 0;
}
.update .detail > li {
  font-size: .75rem;
  list-style-type: none;
}
.update .detail ul {
  margin: 0.5em 0;
  padding-left: 1em;
  font-size: .8rem;
  list-style-type: circle;
}
.rightsideSubmenu {
	margin-top: .75em;
	margin-left: .5em;
	font-size: .8em;
}
/* }}} */
/* {{{ Class: .leftside, .rightside, .date, .quote */
.leftside {
  min-height: 240px;
  width: 160px;
  margin-bottom: 1rem;
  padding-right: 1rem;
} .leftside img {
  width: 144px;
/*  height: 240px;*/
  height: auto;
  border-radius: 6px;
} .leftside img.noimage {
  width: 32px;
  height: 32px;
  padding: 104px 56px;
  background-color: snow;
  border: 1px solid #ffa400
}
.rightside {
  width: 640px;
  vertical-align: top;
}
.rightside > p {
	margin-right: 1em;
}
.date {
  font-size: 1rem;
  font-weight: 700;
}
.quote {
  margin: 0.5em;
  padding: 1em;
  border: 4px double #ffa400;
  border-radius: 12px;
  list-style-type: none;
}
.quote dt {
  display: inline-block;
  vertical-align: top;
}
.quote dd {
  display: inline-block;
  margin-left: 0;
}
/* }}} */
/* {{{ 定型文 */
.salutation {
white-space: pre;
}
.salutation.happiness::before {
content: "カフェの一室での読書会です。\Aあらかじめ課題図書を読み、当日は感想を話し合います。\A読書会に参加するのは初めてというかたもお気軽にご参加ください。";
}
.attention.happiness {
font-size: 90%;
} .attention.happiness:before {
content: "※「ハピネス」さんの一室をお借りしていますが 主催は個人です。";
}
.salutation.zidou::before {
content: "児童文学作家・小出正吾さんが始めた読書の会です。\Aみんなで作品を輪読し、感想を交わします。";
}
.salutation.bunsyokoza::before {
content: "元国語教師の望月秋男先生による作文講座。\A文学作品を読み合い、毎回異なるテーマで作文を書きます。\A鉛筆や作文用紙は会場に用意があります。持ち物なしで参加できます。";
}
.salutation.rekisikoza::after {
content: "による歴史講座。\A歴史や文化の移り変わり、今に残る史跡などを、わかりやすい解説で見ていきます。";
}
/* }}} */
/* {{{ FOOTER, .copyright */
.main-end {
  display: block;
  min-height: 30px;
  margin: 0;
  padding: 0;
  background-image: url(files/horizontalline.svg);
  background-repeat: repeat-x;
  background-color: transparent;
  border: none;
  width: 100%;
}
footer {
  padding: .5em 0;
  text-align: center;
  background-color: #ffa400;
}
footer ul {
  margin: 0;
  padding: 0;
}
footer li {
  display: inline-block;
  font-size: .8rem;
  margin: 0 0.5em;
}
footer a:link,
footer a:visited {
  color: #3b221a;
}
.pre-footer {
  margin: -1em 0 2em 0;
  font-size: .9rem;
}
.copyright {
margin: 0;
/*padding: .5em 0 .2em 0;*/
}
/* }}} */
/* {{{ Class: .readmore, .noscript */
.readmore {
margin-top: 2rem;
padding: 0.5em 1em;
border-radius: 6px;
background-color: #fa0;
color: #ffffff !important;
} .readmore:after {
content: '続きを表示';
} .readmore:link {
} .readmore:hover {
cursor: pointer;
}

.noscript {
background-color: #fc0;
padding: 0.5em 1em;
font-size: 90%;
border-radius: 6px;
}
/* }}} */
/* {{{ I */
i {
}
/* }}} */

.small {
font-size: 0.9rem;
} .large {
font-size: 1.2rem;
} .normal {
font-size: 1rem;
} .roman {
font-family: 'Traveling Typewriter', sans-serif;
}
.not-link {
color: #442200;
}
.komento {
color: #5a5a5a;
}
.nomargin {
padding: 0;
}
.vertical-space {
margin: 0.5em 0;
}
.narrow {
line-height: 1.0;
}
.ls {
margin-top: 0.5em;
}

s {
color:gray;
}

*:lang(en) {
	font-family: 'Museo Sans 500', 'Helvetica', 'Arial', sans-serif;
}

/* スクリーンリーダー用 */
.aural {
display: block;
overflow: hidden;
height: 0;
line-height: 0;
font-size: 0;
}
/* Width < 920px の画面 */
@media screen and (max-width: 920px) {
  body {
    background-image: none;
  }
  .update { display: none; }
  .salutation {white-space: normal;}
  main {
    padding: 0 1em;
  }
  section p {
  font-size: 90%;
  }
  .menu li {
  /*display: block;*/
  }
  .ib {
  display: none;
  }
  .rightside {
  width: 100%;
  }
  .pre-footer {
  margin: auto;
  font-size: medium;
  }
}
/* Width < 480px の画面 */
@media screen and (max-width: 479px) {
  h1 {
    margin: .5em .8em;
  }
  .blogtitle {
    vertical-align: middle;
    font-size: 1.5rem;
  }
  .subtitle { 
    margin: .5em .2em;
    font-size: 90%;
    text-align: left;
  }
  .logo {
    width: 86px;
    height: 64px;
  }
  .menu li {
    display: inline-block;
  }
  .menu img {
   display: none;
  }
/*  main > div:first-child {*/ 
/* --- Class 'year' に変更 */
  .year {
    margin-bottom: 1rem;
    font-size: 85%;
  }
  section {
    display: block;
  }
  section img {
    display: none;
  }
  .leftside {
    display: none;
  }
  blockquote {
    margin-left: 0;
  }
  .quote {
    margin: .5em 0;
    padding: .5em;
    font-size: 90%;
  }
}
