<header>
  <h1>
    <a href="index.html">
    <img class="logo" src="files/sakana.svg" alt="">
    <span class="blogtitle"><span>Misima</span> Hyakka</span>
    </a>
  </h1>
  <div class="subtitle">
  今までに紹介した各種イベントです。
  </div>

  <ul class="menu">
    <div class="ib small" style="line-height:1.2;">表示<br>カテゴリ</div>
    <div class="listo">
      <li><a href="index.html"><img src="files/home.png" width="32px">ホーム<span class="small">（全て表示）</span></a></li>
      <li><span class="not-link"><img src="files/archive2.png" width="32px">ログ</span></li>
      <li><a href="notes.html"><img src="files/notes_off.png" width="32px">ノート</a></li>
    </div>
  </ul>
</header>

<main>
<noscript><div class="noscript">お使いのブラウザの設定では JavaScript が無効になっています。</div></noscript>
