<section>
  <div class="year">
    <a href="log_2025.html">2024年-2025年</a>
    <span class="separator">|</span>
    <a href="log_2022.html">2022年</a>
    <span class="separator">|</span>
    <a href="log_2021.html">2021年</a>
    <span class="separator">|</span>
    <a href="log_2020.html">2020年</a>
    <span class="separator">|</span>
    <a href="log_2019.html">2019年</a>
    <span class="separator">|</span>
    <a href="log_2018.html">2018年</a>
    <span class="separator">|</span>
    <a href="log_2017.html">2017年</a>
    <span class="separator">|</span>
    <a href="log_2016.html">2016年</a>
    <span class="separator">|</span>
    <a href="log_2015.html">2014年暮れ～2015年</a>
  </div>
</section>
