---
# Artikoloj pri komputiloj
---
<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="MAMIJA Midori">
	<title>{{ page.title }}</title>
	<link href="mailto:utaidori@gmail.com" title="Mamija Midori" rev="made">
  <link rel="stylesheet" type="text/css" href="fundamento.css"> 
</head>

<body>

<main>

<nav>
	<ul>
		<li><a class="rootindex" href="../index.html">牢獄機械文書群</a></li>
		<li>&rsaquo;
			<a href="index.html"> コンピューターの記事</a>
		</li>
		<li>&rsaquo;
		{{ page.title }}
		</li>
	</il>
</nav>

<section>
	<h1>{{ page.title }}</h1>
</section>

{{ content }}

</main>

{% include footer-nav.html %}

</body></html>

